<!-- <div class="header">
  <h1>To Do List</h1>
</div>
<div class="main">
  <div class="list">
  </div>
  <form class="form">
    <div class="form-container">
      <input id="todo" type="text" class="form-input" placeholder="What to do?">
    </div>
    <button type="submit" class="btn">+Add to list</button>
  </form>
</div>
 -->


<div class="todo_panel">
  <header>To Do List</header>

  <section>
    <p id="notice"><%= notice %></p>

    <% @todo_items.each do |todo_item| %>
      <% completed = "" %>
      <% striked = "" %>
      <% glow = "" %>

      <% if todo_item[:check] == true %>
        <% completed = "complete" %>
        <% striked = "striked" %>
      <% end %>

      <% if todo_item[:star] == true %>
        <% glow = "glow" %>
      <% end %>

      <div class="wrapper">
        <div class="left">
          <div class="item">
            <i class="<%= completed %> fa fa-check"></i>
          </div>
          <div class="item">
              <i class="<%= completed %> <%= glow %> fa fa-star"></i>
          </div>
        </div>

        <div class="item">
          <p class="<%= completed %> <%= striked %>">
            <%= todo_item.description %>
          </p>
        </div>

        <div class="right">
          <div class="item">
            <p class="<%= completed %>">
              <%= link_to 'Edit', edit_todo_item_path(todo_item), class: 'todo_link'%>
            </p>
          </div>
          <div class="item">
            <%= link_to todo_item, class: 'todo_link', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="<%= completed %> todo_link fa fa-trash"></i>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </section>

  <div class="todo_link">
    <%= link_to 'New To Do Item', new_todo_item_path, class: 'todo_link' %>
  </div>
</div>